/******* COLORS**********/
:root {
  --color-primary-color-1:#aaaa55;
  --color-primary-color-2: #666633;
  --color-primary-color-3:#222211;
  --color-secondary-color-1:#999966;
  --color-secondary-color-2:#b8b894;
  --color-secondary-color-3:#996633;
  --color-tertairy-color-1:#fff;
  --color-tertairy-color-2:#faf9f9;
  --color-tertairy-color-3:#f4f2f2;
  --color-tertairy-color-4:#f0eeee;
  --color-tertairy-color-5:#ccc;
  /********dark colors*************/
  --color-tertairy-color2-3:#999;
  --color-tertairy-color2-3:#333;
  --color-tertairy-color2-3:#777;
  /********dark colors*************/
  --box-shadow-1:.1rem .2rem 1rem rgba(0,0,0,.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 26.56em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 23.44em) {
  html {
    font-size: 35%;
  }
}

/* font-family: 'Baloo Chettan 2', cursive; */
body {
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 400;
  line-height: 1.9;
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-color-1)), to(var(--color-primary-color-3)));
  -webkit-background-image: linear-gradient(to right bottom, var(--color-primary-color-1), var(--color-primary-color-3));
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-color-1)), to(var(--color-primary-color-3)));
  background-image: linear-gradient(to right bottom, var(--color-primary-color-1), var(--color-primary-color-3));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* 
mobile :20em;           ///320px
mobile M :23.44em;      /// 375px
mobile L :26.56em;      ///425px
Tablet : 48em;           ////768px
laptop : 64em;        ///1024px
laptop L :90em;      /////1440px
4K :160em;         //////2560px

*/
.container {
  background-color: var(--color-tertairy-color-1);
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  max-width: 119rem;
  margin: 3.5rem auto;
  min-height: 50rem;
}

@media (max-width: 64em) {
  .container {
    margin: 0;
  }
}

.header {
  background-color: var(--color-tertairy-color-1);
  border-bottom: 0.01rem solid var(--color-tertairy-color-3);
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 26.56em) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 48em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.leftnav {
  background-color: lightgray;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftnav__nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 1.3rem;
}

@media (max-width: 48em) {
  .leftnav__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.leftnav__nav--items {
  position: relative;
}

@media (max-width: 48em) {
  .leftnav__nav--items {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
}

.leftnav__nav--items:not(:last-child) {
  margin-bottom: 1rem;
}

.leftnav__nav--items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-primary-color-1);
  width: .3rem;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width .5s .7s, -webkit-transform .6s;
  transition: width .5s .7s, -webkit-transform .6s;
  transition: transform .6s, width .5s .7s;
  transition: transform .6s, width .5s .7s, -webkit-transform .6s;
}

.leftnav__nav--items:hover::before, .leftnav__nav--items--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

@media (max-width: 48em) {
  .leftnav__nav--items:hover::before, .leftnav__nav--items--active::before {
    width: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@media (max-width: 48em) {
  .leftnav__nav--items--active {
    width: 100%;
  }
}

.leftnav__nav--link:link, .leftnav__nav--link:visited {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  padding: .5rem 1.8rem;
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 48em) {
  .leftnav__nav--link:link, .leftnav__nav--link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.4rem;
  }
}

.leftnav__nav--icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: var(--color-tertairy-color2-3);
}

.creater {
  font-size: 1.4rem;
  font-weight: 100;
  color: grey;
  text-align: center;
}

@media (max-width: 64em) {
  .creater {
    display: none;
  }
}

.hotels {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  background-color: var(--color-tertairy-color-2);
}

@media only screen and (max-width: 64em) {
  .details {
    padding: 3rem;
  }
}

@media only screen and (max-width: 64em) {
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 3rem;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  padding: 3rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 64em) {
  .description {
    padding: 2rem;
    margin: 2rem;
  }
}

@media only screen and (max-width: 26.56em) {
  .description {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.user__reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo {
  height: 4.9rem;
  width: 4.9rem;
  margin-left: 1rem;
}

@media (max-width: 64em) {
  .logo {
    height: 4rem;
    width: 4rem;
  }
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 48em) {
  .search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  color: inherit;
  border: none;
  background-color: var(--color-tertairy-color-2);
  padding: .5rem .5rem;
  border-radius: 1rem;
  width: 85%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search__input:focus {
  width: 100%;
  outline: none;
  background-color: var(--color-tertairy-color-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-tertairy-color-4);
}

.search__button {
  background-color: var(--color-tertairy-color-2);
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -4rem;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  background-color: var(--color-tertairy-color-4);
}

.search__icon {
  width: 3rem;
  height: 3vh;
  fill: var(--color-tertairy-color2-3);
}

.user-nav {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-nav > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 1rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-tertairy-color-4);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}

.user-nav__notification {
  width: 1.95rem;
  height: 1.95rem;
  font-size: .7rem;
  color: #fff;
  background-color: rgba(128, 0, 0, 0.5);
  padding: .99rem;
  border-radius: 50%;
  position: absolute;
  top: 9%;
  left: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-nav__user--photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: .8rem;
}

.user-nav__user-name {
  font-size: inherit;
  font-weight: 400;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--color-tertairy-color-4);
}

.overview__heading {
  font-size: 2.6rem;
  font-weight: 100;
  margin: 0 1.9rem;
}

@media only screen and (max-width: 64em) {
  .overview__heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 26.56em) {
  .overview__heading {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 23.44em) {
  .overview__heading {
    font-size: .5rem;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 20em) {
  .overview__heading {
    font-size: .4rem;
  }
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__icon--star, .overview__location--icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-primary-color-1);
}

.overview__rating {
  margin-left: 1rem;
  background-color: var(--color-primary-color-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.3rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media only screen and (max-width: 26.56em) {
  .overview__rating {
    margin: 0;
    padding: 0 1rem;
  }
}

.overview__rating--average {
  font-size: 1.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 26.56em) {
  .overview__rating--average {
    font-size: 1rem;
  }
}

.button__inline {
  margin: 1.3rem 1.7rem;
  padding: .5rem .4rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary-color-1);
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}

.button__inline:focus,
.button__inline:active {
  outline: none;
  border-bottom: 1.5px solid maroon;
}

.button__inline:hover {
  border-bottom: 1.5px solid maroon;
  color: currentColor;
}

.paragraph {
  font-size: 1.2rem;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style-type: none;
  margin: 3rem 0;
  border-bottom: 1px solid var(--color-tertairy-color-4);
  border-top: 1px solid var(--color-tertairy-color-4);
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: .6rem;
  font-size: 1.3rem;
}

.list__items::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-primary-color-2);
  -webkit-mask: url(../images/link.svg);
  mask: url(../images/link.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.recommend {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__customer {
  margin-right: auto;
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 1.9px solid var(--color-tertairy-color-1);
}

.recommend__photo:not(:first-child) {
  margin-left: -1.4rem;
}

.review {
  background-color: var(--color-tertairy-color-1);
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  padding: 3rem;
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 64em) {
  .review {
    padding: 2rem;
    margin: 1.5rem;
  }
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.review__photo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.review__user--box {
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__user--name {
  text-transform: uppercase;
  font-weight: 700;
}

.review__rating {
  font-size: 1.9rem;
  color: var(--color-primary-color-1);
}
/*# sourceMappingURL=main.css.map */